body, head{
    background-color: antiquewhite;
}
h1{
    color: black;
    text-align:  center;
    font-style: oblique;
    background-color: white;
}
.recettes{
    display: flex;
    margin-bottom: 40px;
}

.ingredients{
    margin-top: 10px;
}

.flexL{
    flex: 1;
    padding: 1em;
    text-align: center;
    padding-top: 10px;
}
.img#recetteImg{
    width: 300px;
    height: 300px;
}

.flexR{
    flex: 1;
    padding: 1em;
    text-align: left;
    margin-top: 10px;
}
table{
    margin:auto;
    border-spacing: 15px;
}
