<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La cuisine de Lolo & Leny</title>
    <link href="style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<h1>Liste des recettes de Lolo & Leny</h1>

        <div class="pageRecette" th:each="recette: ${recettes}">
            <span th:text="${recette.nomRecette}"> Recette </span><br>
            <img th:src="${recette.urlImg}" alt="Photo indisponible"
                      width="200"
                      height="200"
                      title="Lasagnes">
            <br><br>

        </div>
</body>
</html>