<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La cuisine de Lolo & Leny</title>

    <h1>Page de connexion</h1>

    <form action="/hello" method="get">

        <div>
            <label id="mail">Adresse e-mail : </label>
            <input type="email" />
        </div>
        <div>
            <label id="password" > Mot de passe : </label>
            <input type="password"/>
        </div>

        <div class="button">
            <button type="submit">Se connecter</button>
        </div>

        <div>
           <label id="mail">Adresse e-mail : </label>
            <input type="email"/>
        </div>
        <div class="button">
            <button type="submit">Réinitialiser votre mot de passe</button>
        </div>
    </form>
</head>
<body>

</body>
</html>